doctype transitional
html(lang="zh-CN")
  head
    meta(name="Content-Type" content="text/html;charset=utf-8")
    meta(name="Referrer" content="unsafe-url")
    meta(content="True" name="HandheldFriendly")
    title kuandao
    meta(name="description" content="")
    link(href="/images/favicon.png" rel="shortcut icon")
    link(rel="stylesheet", href="/main.css")
  body
    != yield
